body {
  margin: 0px;
}
.main-home-1 {
  display: flex;
}

.main-home-right-top-1,
.main-home-right-top-2 {
  display: flex;
}
.navbar {
  background: rgb(32, 172, 97);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  min-width: 7rem;
  position: fixed;
  z-index: 999;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
}
.navbar-horizontal {
  margin-left: 0px;
  display: flex;
}
.navbar-horizontal a {
  margin-top: 0px;
  padding-left: 50px;
  padding-bottom: 20px;
  font-size: 18px;
}
.navbar-bottom {
  display: flex;
  flex-direction: column;
}
.navbar-bottom-extra {
  display: flex;
  flex-direction: column;
  color: white;
}
.navbar-horizontal a:hover {
  color: rgb(30, 145, 84);
}
.navbar-bottom img {
  height: 25px;
  width: 28px;
  padding-bottom: 7px;
  padding-left: 25px;
  padding-top: 50px;
}
.navbar-bottom a:hover {
  text-decoration: underline;
}
a {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
}
.text p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
}
.navbar-horizontal {
  padding-left: 45%;
}
.btn {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  display: inline;
  list-style-type: none;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 161, 93);
  padding: 10px;
  padding-left: 14px;
  padding-right: 14px;
  text-decoration: none;
  border: 1px solid rgb(33, 161, 93);
  border-radius: 18px;
  font-size: 13px;
}
.btn:hover {
  background: transparent;
  border: 1px solid rgb(33, 161, 93);
  color: rgb(33, 161, 93);
  text-decoration: none;
}
